<!DOCTYPE html>
<head>
  <title>Product Description Generator</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='dog.png') }}" class="icon" />
  <h3>Generate a Product Description!</h3>
  <form action="/" method="post">
    <input type="text" name="product_name" placeholder="Enter a product name" required />
    <input type="text" name="characteristics" placeholder="Enter the characteristics of the product" required />
    <input type="submit" value="Generate!" />
  </form>
  {% if result %}
  <div class="result">
    <h2>Product description<br><br></h2>
    {{ result | safe }}
  </div>
  {% endif %}
</body>
